# Genera una clave secreta en https://djecrety.ir y pégala aquí
SECRET_KEY=tu-secret-key-aqui

DEBUG=True

ALLOWED_HOSTS=localhost 127.0.0.1

# Cambia el valor de las variables por las de tu instancia Neo4j local

NEO4J_URI=bolt://localhost:7687
NEO4J_USER = 
NEO4J_PASSWORD = 

# Opcional. Para el chatbot interactivo
GEMINI_API_KEY =
GEMINI_MODEL =